nb-semanal-webhook.n8n.json
{
  "name": "NB Semanal — Webhook (headers homologação)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nb-semanal",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-nb-semanal",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-320, 0],
      "webhookId": "nb-semanal"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": true,
        "filters": {
          "conditions": []
        }
      },
      "id": "dt-financeira",
      "name": "Data Table Financeira",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [-80, 0],
      "notes": "Selecione a tabela FINANCEIRA no dropdown após importar."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": true,
        "filters": {
          "conditions": []
        }
      },
      "id": "dt-operacional",
      "name": "Data Table Operacional",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [160, 0],
      "notes": "Selecione a tabela OPERACIONAL no dropdown após importar."
    },
    {
      "parameters": {
        "jsClass": "javascript",
        "language": "javaScript",
        "jsCode": "// Junta a primeira linha de cada tabela num único objeto de resposta.\n// Referencia os dois nós anteriores pelo nome, pegando todos os itens que cada um retornou.\nconst financeira = $('Data Table Financeira').all().map(i => i.json);\nconst operacional = $('Data Table Operacional').all().map(i => i.json);\n\nreturn [\n  {\n    json: {\n      financeira,\n      operacional\n    }\n  }\n];"
      },
      "id": "montar-resposta",
      "name": "Montar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Data Table Financeira", "type": "main", "index": 0 }
        ]
      ]
    },
    "Data Table Financeira": {
      "main": [
        [
          { "node": "Data Table Operacional", "type": "main", "index": 0 }
        ]
      ]
    },
    "Data Table Operacional": {
      "main": [
        [
          { "node": "Montar Resposta", "type": "main", "index": 0 }
        ]
      ]
    },
    "Montar Resposta": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
